
<% @songs.each do |song| %>
<tbody>
  <tr>
    <td> <%= song.title %> </td>
    <td> <%= link_to 'Destroy', song_path(song),
                    method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  </tr>

<% end %>
