<table>
  <thead>
    <th>Title</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Artist</th>
    <th></th>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.release_year %></td>
        <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
