<h2>List of Songs</h2>

<ol>
<% @songs.each do |song| %>
  <div class="song">
    <li><%= song.title %></li>
    <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
  </div>
</ol>

<% end %>
