<h1>Songs</h1>
<tbody>
  <%@songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song)%></td>
      <td><%= link_to "Delete", song, method: :delete, data: { confirm: "You sure b?" } %></td>
    </tr>
  <% end %>
</tbody>
