<h1>All songs!</h1>
<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre%></td>
      </tr>
    <% end %>
  </tbody>
</table>
