<h1>Songs#index</h1>
<p>Find me in app/views/songs/index.html.erb</p>

<div>
  <% @songs.each do |song| %>
    <div><%= song.title %></div>
    
  <% end %>
</div>

<table id='employee-table' class="table table-hover">
            <thead  class="thead-light">
              <tr>
                <th>Title</th>
              </tr>
            </thead>

            <tbody>
              <% @songs.each do |song| %>
                <tr>
                  <td><%= song.title %></td>
                </tr>
              <% end %>
            </tbody>
          </table>