<h1>INDEX</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Updated</th>
  </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= link_to song.title, song %></td>
        <td><%= song.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
