<tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Released</th>
  </tr><br>
  <tbody>
  <% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.title, song_path(song) %></td>
    <td><%= song.artist_name %></td>
    <td><%= song.genre %></td>
    <td><%= song.release_year %></td>
  </tr>
  <% end %>
</tbody>
