<h2>Songs Index</h2>

<table>
  <thead>
    <tr>
      <th>Song Name</th>
      <th>Artist Name</th>
      <th>Genre</th>
      <th>Year Released</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= song.release_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
