<h2>Songs</h2>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
  </tr>
  </thead>
  <tbody>
    <% @songs.each do |s| %>
      <tr>
        <td><%= link_to s.title, song_path(s) %></td>
        <td><%= s.artist_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
