<table>
  <thead>
    <tr>
      <td>
        Song Title
      </td>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= song.title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @songs.each do |song| %>

<% end %>
