<h1>All Songs</h1>

<tbody>
  <% @songs.all.each do |s| %>
    <div class="song">
      <tr>
        <span>
          <%= s.title %>
          <br>
          <%= link_to "Delete", s, method: :delete, data: { confirm: "Permanently delete this song?" } %>
        </span>
      </tr>
      <br>
      <br>
    </div>
  <% end %>
</tbody>
