<h1>All Songs</h1>



<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <%= song.title %>
        <%= link_to "Delete", song, method: :delete, data: { confirm: "For real?" } %>
      </tr>
    <% end %>
  </tbody>
</table>
