
<table>
  <thead>
    <tr>
       <th>Song Name</th>
       <th>Artist Name</th>
    </tr>
  </thead>
    <tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist_name %></td>
  <% end %>
    </tr>
    </tbody>
</table>
