<h1> Song List </h1>
<table>
  <thead>
	<tr>
		<th>Title</th>
		<th>DELETE</th>
	</tr>
  </thead>
	<tbody>
		<%@songs.each do |song| %>
		<tr>
		<td><%= link_to song.title, song_path(song.id) %></td>
		<td><%= link_to "Delete", song, method: :delete, data: {confirm: "Are you sure"} %></td>
		</tr>
		<%end%>
	</tbody>
	</table>



