<h1>Songs</h1>

<table>

  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Released</th>
    <th>Genre</th>
    <th></th>
  </tr>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>song.title</td>
        <td>song.artist_name</td>
        <td>song.released_year</td>
        <td>song.genre</td>
        <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Delete?" } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
