<table>
  <thead>
    <tr>
      Songs
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td>
          <%= song.title %>
          <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
