<h1>check out all our songs!</h1>
<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to "#{song.title}", song_path(song) %></td>
        <td><%= link_to "delete #{song.title}", song_path(song), method: :destroy%></td>
      </tr>
    <% end %>
  </tbody>
</table>
