<h1>Song List</h1>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist Name</th>
      <th>Genre</th>
      <th>Release Year</th>
    </tr>
  </thead>

  <tbody>
  <% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist_name %></td>
    <td><%= song.genre %></td>
    <% if song.released %></td>
      <td><%= song.release_year %></td>
    <% else %>
      <td>unreleased</td>
    <% end %>
    </tr>
  <%end%>
</tbody>
