<h1>Songs</h1>

<table>
  <thead>
    <tr>
      <th>Song Name</th>
      <th>Song Artist</th>
      <th>Song Genre</th>
      <th>Song Release Year</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= song.release_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>