<h1>Song List</h1>

<ol>
<% @songs.each do |song| %>
    <li><%= link_to song.title, song_path(song.id) %>
    <%= link_to 'Delete', song, method: :delete, data: {confirm: 'Really?'} %></li>

<% end %>
</ol>
