<h2>Songs:</h2>

<table>
  <caption>Songs</caption>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    
    <%= @songs.each do |song| %>
      <tr><td><%= song.title %></td></tr>
    <% end %>
  </tbody>

</table>