<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Song Index</title>
  </head>
  <body>
    <% @songs.each do |song| %>
      <div><%= link_to song.title, song_path(song) %></div>
  </body>
</html>
