<h1>Show</h1>
<table>
	<thead>
		<tr>
			<td>Title</td>
			<td>Released</td>
			<td>Genre</td>
			<td>Artist</td>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @song.title %></td>		
				<td><%= @song.release_year %></td>
				<td><%= @song.genre %></td>
				<td><%= @song.artist_name %></td>
			</tr>	
	</tbody>
</table>