<article>
  <h1><%= @song.title %></h1>
  <ul>
    <% if @song.released %>
      Year Released: <%= @song.release_year %>
    <% else %>
      Song Not Released Yet
    <% end %>
    <li>Artist Name: <%= @song.artist_name %></li>
    <li>Genre: <%= @song.genre %></li>
  </ul>
</article>
