<h1><%= @song.title %></h1>
<h3>Artist: <%= @song.artist_name %></h3>
<p>Genre: <%= @song.genre %></p>

<% if @song.released == true %>
<p>Year Released: <%= @song.release_year %></p>
<% else %>
<p>Unreleased</p>
<% end %>
