<h1><%= @song.title %></h1>
<% if @song.released %>
  <p> Released @song.release_year</p>
  <% else %>
  <p> Not yet released</p>
<%end %>
<p>Artist: <%= @song.artist_name%></p>
<p>Genre: <%= @song.genre %></p>

<%= link_to "Delete", @song, method: :delete, data: { confirm: "Are you sure?" }  %>
