<strong><%= @song.title %></strong>


<div class="">
  <%= link_to "Edit",  edit_song_path(@song) %>
</div>


<%= form_tag song_path(@song.id), method: "delete" do %>
  <%= submit_tag "Delete #{@song.title}" %>
<% end %>
