<h1>Selected Song</h1>

<table>
  <head>
    <tr>
      <th>Song Title</th>
      <th>Artist Name</th>
    </tr>
  </head>
  <tbody>
    <tr>
      <td><%= @song.title %></td>
      <td><%= @song.artist_name %></td>
    </tr>
  </tbody>
</table>
