// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif
}

table {
  width: 100%;
  tr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  td, th {
    width: 100%;
    text-align: center;
  }
}

fieldset {
  border: none;
  margin: 10px 0;
  padding: 0;
}
