<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
	<style>
		table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
		}

		td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
		}

		tr:nth-child(even) {
	    background-color: #dddddd;
		}
	</style>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
