<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src=""></script>
</head>
<body>

<%= yield %>
<%=  javascript_include_tag "application" %>

</body>
</html>
