<!DOCTYPE html>
<html>
<head>
  <title>CrudWithValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <style media="screen">
    body {
      font-family: Arial, sans-serif;
      margin: 2rem;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
